<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>prj</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>default</servlet-name>
    <servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>0</param-value>
    </init-param>
    <init-param>
      <param-name>listings</param-name>
      <param-value>false</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>boardReg</servlet-name>
    <servlet-class>boardL.boardReg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>boardReg</servlet-name>
    <url-pattern>/board/boardReg*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>boardList</servlet-name>
    <servlet-class>boardL.boardList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>boardList</servlet-name>
    <url-pattern>/board/boardList*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>boardDetail</servlet-name>
    <servlet-class>boardL.boardDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>boardDetail</servlet-name>
    <url-pattern>/board/boardDetail*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>boardUp</servlet-name>
    <servlet-class>boardL.B_BoardUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>boardUp</servlet-name>
    <url-pattern>/board/boardUp*</url-pattern>
  </servlet-mapping>
</web-app>